<div class="banner">
    <h1 class="banner-title">Rent a cat</h1>
    <p class="banner-subtitle">Need a friend for a day or for your weekend? Find a cat near you</p>
    <%= render "shared/main_search_form" %>
</div>
