.banner {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: image-url('kittens.jpg');
  background-size: cover;
  background-position: center top;
  background-color: LightSlateGray;
  background-blend-mode: multiply;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-title {
  font-family: $header-font, 'Raleway', sans-serif;
  font-size: 70px;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 0 4px #282626;
}

.banner-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
  text-shadow: 1px 0 4px #282626;
}
