.card {
  position: relative;
  width: 95%;
  box-shadow: 10px 10px 40px rgba(0,0,0,0.4);
  border: white 10px solid;
  height: 250px;
  background-size: cover;
  background-position: center;
  h2 {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0 4px #282626;
  }
  p {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0 4px #282626;
  }
  .avg-rating {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
